<html>
<head>
	<title></title>
</head>
<body>
	<center>
	<h1> Stats page</h1>

	<div ng-controller="pull">

		
		<div ng-repeat ="index in stats">
					<div>
						<h3>{{index[index.length - 1].Team}}</h3>
						<h4>{{index[index.length - 1].Rank}}</h4>
					</div>
					<table class="table">
						<thead>
							<tr>
								<th>Date</th>
								<th>Opponent</th>
								<th>Result</th>
								<th>Location</th>
								<th>W/L</th>
								<th>Div</th>
								<th>Spread</th>
								<th>Total</th>
								<th>Money</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat= "data in index">
								<td>{{data.Date}}</td>
								<td>{{data.Opponent}}</td>
								<td>{{data.Result}}</td>
								<td>{{data.Location}}</td>
								<td>{{data.WL}}</td>
								<td>{{data.Div}}</td>
								<td>{{data.Spread}}</td>
								<td>{{data.Total}}</td>
								<td>{{data.Money}}</td>
							</tr>
						</tbody>

					</table>
					<hr>
					<hr>
		</div>
		<!-- <p>Date Opponent Result Location W/L Div Result  Spread Total Money</p>
		<p ng-repeat="index in stats">{{index}}</p> -->
	</div>
</center>
</body>
</html>